.App {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: 100vh;
  max-height: 100vh;
  margin: 0 auto;
  
  .TimerWrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    place-content: center center;
  }

  .TimerOptions {
    padding: 32px;

    .TimerControl {
      margin-bottom: 16px;
    }

    .Settings {
      background-color: #fff;
      border-radius: 8px;
      padding: 16px 8px;
    }
  }
}